<style>
  .registration {
    margin-bottom: 20px;
  }

  .plan-name {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .plan-name span {
    margin-bottom: 10px;
  }

  .text-principal {
    text-align: center;
    color: #404040;
    font-weight: 600;
    margin: 22px;
  }

  .text-destaque {
    margin-bottom: 16px;
  }

  .text-destaque span {
    color: #7159c1;
    text-transform: uppercase;
  }

  .text-auxiliar {
    font-weight: 400;
    max-width: 350px;
    margin: 18px auto;
  }

  .datas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 320px;
    margin: 0 auto;
  }

  .datas .data {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 2;
  }

  .datas .data:first-child {
    border-right: 1px solid #ccc;
  }

  .datas .data span:first-child {
    font-weight: 500;
    font-size: 15px;
  }

  .frase {
    margin-top: 30px;
    display: block;
  }

  .frase,
  .frase-autor {
    font-weight: 500;
    font-size: 15px;
  }
</style>
<div class="registration">
  <div class="text-principal">
    <img src="https://raw.githubusercontent.com/Rocketseat/bootcamp-gostack-desafio-03/master/.github/logo.png" />
    <p class="text-destaque"> Olá, <span> {{student}}</span> </p>

    <p class="text-destaque">Sua matrícula foi realizada com sucesso!</p>

    <div class="plan-name">
      <span style="text-transform: uppercase;">{{title}}</span>
    </div>
    <span style="margin: 8px; display: block;"> R$ {{price}}‬,00</span>
    <p class="text-auxiliar">Obrigado por se matricular na GymPoint.
      Agora você tem acesso a todas academias de nossa rede.
    </p>
    <p class="text-auxiliar">Plano de {{duration}} meses por R${{planPrice}}/mês;</p>
    <div class="datas">
      <div class="data">
        <span>Data inicial</span>
        <span>{{start_date}}</span>
      </div>
      <div class="data">
        <span>Data Final</span>
        <span>{{end_date}}</span>
      </div>
    </div>
  </div>
