<style>
  .registration {
    margin-bottom: 20px;
  }

  .text-principal {
    text-align: center;
    color: #404040;
    font-weight: 600;
    margin: 22px;
  }

  .text-destaque {
    margin-bottom: 16px;
  }

  .text-destaque span {
    color: #d6355e;
    text-transform: uppercase;
  }

  .text-auxiliar {
    font-weight: 400;
    max-width: 350px;
    margin: 18px auto;
  }

  .datas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 320px;
    margin: 0 auto;
  }

  .datas .data {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 2;
  }

  .datas .data:first-child {
    border-right: 1px solid #ccc;
  }

  .datas .data span:first-child {
    font-weight: 500;
    font-size: 15px;
  }

  .frase {
    margin-top: 30px;
    display: block;
  }

  .frase,
  .frase-autor {
    font-weight: 500;
    font-size: 15px;
  }
</style>
<div class="registration">
  <div class="text-principal">

    <p class="text-destaque"> Hello, <span> {{student}}</span> </p>
    <p class="text-destaque">Your registration was successful!</p>

    <span style="text-transform: uppercase;">{{title}}</span>


    <span style="margin: 8px; display: block;"> $ {{price}}‬,00</span>
    <p class="text-auxiliar">Thank you for enrolling in GymPoint. You now have acess to all gym in our network!
    </p>
    <p class="text-auxiliar">{{duration}} month plan for ${{planPrice}}/month;</p>
    <div class="datas">
      <div class="data">
        <span>Initial date</span>
        <span>{{start_date}}</span>
      </div>
      <div class="data">
        <span>Final date</span>
        <span>{{end_date}}</span>
      </div>
    </div>
  </div>
